<h1>{{ vortrag.thema }}</h1>

<p>Referent: {{ vortrag.referent }} </p>

<p>{{ vortrag.datum }}</p>

<p>{{ vortrag.beschreibung }}</p>

<p>Orgapate: {{ ortrag.orgapate }}</p>

<p><a href="/vortraege/{{ vortrag.id }}/pressetext/">Pressetext {{vortrag.datum}}</a></p>
<p><a href="/vortraege/{{ vortrag.id }}/aushang/">Aushang {{vortrag.datum}}</a></p>
<p><a href="/vortraege/{{ vortrag.id }}/flyer/">Flyer {{vortrag.datum}}</a></p>
<p><a href="/vortraege/{{ vortrag.id }}/ical/">Kalendereintrag {{vortrag.datum}}</a></p>

<p> Folien: {{ vortrag.folien }} </p>
<p> Audio: {{vortrag.audio}} </p>
