<h1>{{ vortrag.title }}</h1>

<p>Referent: {{ vortrag.referent }} </p>

<p>{{ vortrag.start }}</p>

<p>{{ vortrag.beschreibung }}</p>

<p>Orgapate: {{ vortrag.orgapate }}</p>

<p><a href="{% url vortraege_pressetext vortrag_id=vortrag.id %}">Pressetext {{vortrag.start}}</a></p>
<p><a href="{% url vortraege_pdf_aushang vortrag_id=vortrag.id %}">Aushang {{vortrag.start}}</a></p>
<p><a href="{% url vortraege_pdf_flyer vortrag_id=vortrag.id %}">Flyer {{vortrag.start}}</a></p>
<p><a href="{% url vortraege_ical vortrag_id=vortrag.id %}">Kalendereintrag {{vortrag.start}}</a></p>

<p> Folien: {{ vortrag.folien }} </p>
<p> Audio: {{vortrag.audio}} </p>
